:root {
    --shadow: 0px 0px 16px rgba(0, 0, 0, 16%);
    --card-width: 56px;
}


* {
    box-sizing: border-box;
}

.container {
    display: flex;
    /* width: 100vw; */
    padding: 10%;
    justify-content: center;
    gap: 32px;
}

button {
    width: 96px;
    height: 48px;
    background-color: rgb(95, 95, 95);
    border-radius: 8px;
    cursor: pointer;
    color: white;
    border: none;
    box-shadow: var(--shadow);
}

button:hover {
    background-color: rgb(122, 122, 122);
}

button:active {
    background-color: rgb(122, 122, 122);
}

.control {
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.container > div {
    width: calc(5 * var(--card-width) + 2 * 16px + 4 * 8px);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    border-radius: 16px;
    padding: 16px;
    box-shadow: var(--shadow);
}

.container > div button {
    margin: 0 0 24px 0;
}

.pickedCards {
    display: flex;
    gap: 8px;
    /* padding: 8px; */
    height: 72px;
}

.card {
    width: var(--card-width);
    height: 72px;
    /* border: 1px solid black; */
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    background-color: white;
    box-shadow: var(--shadow);
}

.cardRed {
    color: red;
}

.cardBlack {
    color: black;
}

.card p {
    margin: 0
}

.filler {
    flex-grow: 1;
}

@media screen and (max-width: 800px){
    .container {
        flex-direction: column;
        align-items: center;
    }
}